@font-face {
    font-family: 'OldEngFont';
    src: url('oldeng.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Times';
	src: url('times.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

a{
	color: black;
	text-decoration: none;
}

body {
	font-family: 'Times', arial;
}

h1, h2, h3, h4, h5, h6{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}

p{
}

.title{
	font-family: 'Times', arial;
	font-size: 58px;
	color: black;
	text-align: center;
}

.subtitle-font {
    font-family: 'OldEngFont', sans-serif; /* Fallback to sans-serif if the custom font fails to load */
    font-size: 29px;
    color: black;
    text-align: center;
    margin-top: 5px;
	margin-bottom: 5px;
}

.quote{
	font-family: 'Times', arial;
	font-size: 15px;
	font-style: italic;
	color: black;
	text-align: center;
}

.soon{
	font-family: arial;
	font-size: 15px;
	font-style: none;
	color: black;
	text-align: center;
}

.lineL{
	margin-bottom: -1px;
}

.lineN{
	margin-top: 3px;
}

.container{
	display: flex;
	flex-direction: column;
	border: none;
	width: 600px;
	height: 600px;
	margin-left: 50px;
    margin-top: 10px;
}

.vl {
	border-left: 1px solid black;
	height: 530px;
	margin-top: 28px;
}

.cv{
	font-style: italic;
	font-size: 30px;
	padding: 5px;
	border-bottom: 1px solid black;
}

.content{
	display: flex;
	text-align: justify;
	text-justify: inter-word;
}

.image{
	flex: 1;
	padding-right: 10px;
}

.image img{
	height: 300px;
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
}

.info{
	flex: 1;
	margin-right: 5px;
}

.text{
	margin-top: -248px;
	margin-right: 5px;
	text-align: justify;
	text-justify: inter-word;
}


#dateTime {
    font-size: 20px;
    font-family: Serif;
    color: #333;
    text-align: right;
    margin-top: 5px;
	margin-right: 50px;
}