@font-face {
    font-family: 'OldEngFont';
    src: url('oldeng.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
}

h1, h2, h3, h4, h5, h6{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}

.title-font {
    font-family: 'OldEngFont', sans-serif; /* Fallback to sans-serif if the custom font fails to load */
    font-size: 100px;
    color: black;
    text-align: center;
    margin-top: 20px;
	margin-bottom: 20px;
}

.container{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 300px;
}

.cv{
	padding: 5px;
	border-bottom: 1px solid black;
}

.content{
	display: flex;
	padding: 5px;
}

.image{
	flex: 1;
	padding-right: 10px;
}

.image img{
	max-width: 100%;
	height: auto;
}

.text{
	flex: 2;
}

#dateTime {
    font-size: 20px;
    font-family: Serif;
    color: #333;
    text-align: center;
    margin-top: 5px;
}
